<!-- Hide master rather than remove with a conditional, so it's easy to switch back without losing state information --->
<div [ngClass]="{'hidden' : mode !== Mode.Master, 'host' : true}">
    @if (data?.listComponent === undefined) {
    <!--- Master View ---->
    <!--- Virtual scroller because there are THOUSANDS of entries --->
    <cdk-virtual-scroll-viewport itemSize="36">
        <ul>
            <li *cdkVirtualFor="let item of masterList?.items"><app-list-data-item [item]="item" [key]="masterList!.key" [skipChange]="true" [hideKey]="data!.hideKey === true ? true : false" (clicked)="itemClicked($event)"/></li>
        </ul>
    </cdk-virtual-scroll-viewport>
    } @else {
        <ng-container *ngComponentOutlet="data!.listComponent!;inputs:masterInputs;outputs:masterOutputs" />
    }
</div>
@if (mode === Mode.Detail)
{
    <a mat-raised-button (click)="returnToMaster()">&lt; {{masterList?.name}}</a>
    @if (data?.detailComponent === undefined) {    
        <!---- Detail View ---->
        <p>Name: {{detailItem!.name}}</p>
    } @else {
        <ng-container *ngComponentOutlet="data!.detailComponent!;inputs:detailInputs" />
    }   
}
