<!-- Hide master rather than remove with a conditional, so it's easy to switch back without losing state information --->
<div class="master host" [ngClass]="{'hidden' : mode !== Mode.Master}">
    <ng-container *ngComponentOutlet="data!.listComponent!;inputs:masterInputs" />
</div>
<div class="detail host">
@if (mode === Mode.Detail)
{
    <a mat-raised-button (click)="returnToMaster()">&lt; {{masterList?.name}}</a>
    <ng-container *ngComponentOutlet="data!.detailComponent!;inputs:detailInputs" />  
}
</div>
