div.host{
    height: 100%;
}

div.hidden{
    height: 0 !important;
}

cdk-virtual-scroll-viewport {
    height:100%;
}

li {
    padding-bottom: 2pt;
    list-style-type: none;
}

li a {
    height: 36px;
}