<!-- Hide master rather than remove with a conditional, so it's easy to switch back without losing state information --->
<div class="master host" [ngClass]="{'hidden' : mode !== Mode.Master}">
    <mat-tab-group>
        <mat-tab [label]="masterList?.getName()!">
            <ng-template matTabContent>
                <div class="tab-content">
                    <ng-container *ngComponentOutlet="data!.listComponent!;inputs:masterInputs" />
                </div>
            </ng-template>
        </mat-tab>
        @for (page of data!.listPages; track $index)
        {
            <mat-tab [label]="page!.title!">
                <ng-template matTabContent>                
                    <div class="tab-content">
                        <ng-container *ngComponentOutlet="page!.component!;inputs:masterInputs" />
                        </div>
                </ng-template>
            </mat-tab>
        }
        <mat-tab label="Tools">
            <ng-template matTabContent>
                <app-data-tools [data]="this.masterList" [name]="masterList?.getName()!"></app-data-tools>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="detail host">
@if (mode === Mode.Detail)
{
    <a mat-raised-button class="breadcrumb" (click)="returnToMaster()">&lt; {{masterList?.getName()}}</a>
    <mat-tab-group>
        @if (data?.detailComponent !== undefined)
        {
            <mat-tab [label]="masterList?.getRecName(this.detailItem!)!">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <ng-container *ngComponentOutlet="data!.detailComponent!;inputs:detailInputs" />  
                    </div>
                </ng-template>
            </mat-tab>
        } @else {
        <mat-tab [label]="masterList?.getRecName(this.detailItem!)+' (Data)'">
            <ng-template matTabContent>
                <div class="tab-content">
                    <app-generic-detail [data]="detailItem" [master]="masterList!"></app-generic-detail>
                </div>
            </ng-template>
        </mat-tab>     
        }     
        @for (page of data!.detailPages; track $index)
        {
            <mat-tab [label]="page.title">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <ng-container *ngComponentOutlet="page.component;inputs:detailInputs" />
                    </div>
                </ng-template>
            </mat-tab>            
        }        
        <mat-tab label="Tools">
            <ng-template matTabContent>
                <app-data-tools [data]="this.detailItem" [name]="masterList?.getName()+'-'+masterList?.getRecName(this.detailItem!)"></app-data-tools>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
}
</div>
