<div class="app-container">
<mat-toolbar #toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Battle.net API Browser</span>
</mat-toolbar>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="true"  fixedTopGap="56">
    <app-apitree (valueChanged)="treeChanged($event)"></app-apitree>    
    <div class="buttons">
      @if (this.apiClient.isConnected()) {
        <button mat-raised-button (click)="bnetLogin()"><mat-icon>login</mat-icon>Battle.net Login</button>        
      }
      @else {
        <button mat-raised-button (click)="connect()" [style.display]="this.apiClient.isConnected() ? 'none' : '' ">
          <mat-icon>login</mat-icon>Connect
        </button>            
      }
      <button mat-raised-button [routerLink]="'/settings'"><mat-icon>settings</mat-icon>Settings</button>
      <button mat-raised-button (click)="debug()"><mat-icon>medication</mat-icon>Debug</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content #content> 
    @if (data.loaded) {
      <router-outlet />
    }
    @else
    {
      <div class="loadingspinner">
        <mat-spinner ></mat-spinner>
      </div>      
    }
  </mat-sidenav-content>
</mat-sidenav-container>
</div>