div.app-container
{
    flex: 1 0 auto;
}

mat-sidenav-container
{
    margin-top:56px;
}

mat-sidenav
{
    padding: 6pt;
}

mat-toolbar {
    position: sticky;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

div.loadingspinner
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}