div.app-container
{
    flex: 1 0 auto;
}

mat-sidenav-container
{
    position: absolute;    
    margin-top:56px;
    margin-bottom:20pt;  
}

mat-sidenav {
    display: flex;
    flex-direction: column;
}

mat-sidenav app-apitree {
    flex:1;
}

div.sidenav-content {
    height: 100%;
    padding: 6pt;
    display: flex;
    flex-direction: column;
    app-apitree {
        flex: 1;
    }
}

mat-toolbar.top-toolbar {
    position: sticky;
    .spacer {
        flex: 1 1 auto;
    }
}

mat-toolbar.statusbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:20pt;
    font-size:10pt;
    background-color: lightgray;
    .spacer {
        flex: 1 1 auto;
    }
}

ul.buttons {
  li {
    margin-top:4px;
    margin-bottom:4px;
    list-style: none;
  }
}

div.loadingspinner
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}