div.app-container
{
    flex: 1 0 auto;
}

mat-sidenav-container
{
    margin-top:56px;
}

div.sidenav-content {
    height: 100%;
    padding: 6pt;
    display: flex;
    flex-direction: column;
    app-apitree {
        flex: 1;
    }
}

mat-toolbar {
    position: sticky;
    .spacer {
        flex: 1 1 auto;
    }
}

ul.buttons {
  li {
    margin-top:4px;
    margin-bottom:4px;
    list-style: none;
  }
}

div.loadingspinner
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}