<table mat-table [dataSource]="data">
  <!-- Property Name Column -->
  <ng-container matColumnDef="property">
    <td mat-cell *matCellDef="let item"><b>{{item.name}}</b></td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <td mat-cell *matCellDef="let item"> 
        @if ( typeof item.value == 'string' || typeof item.value == 'number' || typeof item.value == 'boolean') {
          {{item.value}}           
        }
        @else if ( typeof item.value == 'object' ) {
            <app-object-table [dataSource]="item.value"></app-object-table>
        }
        @else if ( typeof item.value == 'function') {
          <!--- do nothing --->
        }
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
