<ng-container [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{data: data}">
</ng-container>

<ng-template #table let-data="data">
<table mat-table [dataSource]="data">
  <!-- Property Name Column -->
  <ng-container matColumnDef="property">
    <td mat-cell *matCellDef="let item"><b>{{item.name}}</b></td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <td mat-cell *matCellDef="let item"> 
        @if ( typeof item.value == 'string' || typeof item.value == 'number' || typeof item.value == 'boolean') {
          {{item.value}}           
        }
        @else if ( typeof item.value == 'object' && item.value === null) {
          (null)
        }
        @else if ( typeof item.value == 'object' && item.value !== null) {
          <ng-container [ngTemplateOutlet]="table" [ngTemplateOutletContext]="{data: objToArray(item.value)}">
          </ng-container>
        }
        @else if ( typeof item.value == 'function') {
          <!--- do nothing --->
        }
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</ng-template>
