<p>Name: {{data?.name}}</p>
<p>Description: {{data?.description}}</p>
<mat-tab-group>
    <mat-tab label="Signature Ability">  
        <p>{{data?.signature_ability?.spell_tooltip?.spell?.name}}</p>
        <p>{{data?.signature_ability?.spell_tooltip?.description}}</p>
    </mat-tab>
    <mat-tab label="Class Abilities"> 
        <table mat-table [dataSource]="data?.class_abilities!" class="mat-elevation-z8">
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef> Class </th>
                <td mat-cell *matCellDef="let item"> {{item.playable_class.name}} </td>
            </ng-container>  
            <ng-container matColumnDef="ability">
                <th mat-header-cell *matHeaderCellDef> Ability </th>
                <td mat-cell *matCellDef="let item"> {{item.spell_tooltip.spell.name}} </td>
            </ng-container>  
            <tr mat-header-row *matHeaderRowDef="['class', 'ability']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['class', 'ability'];"></tr>   
        </table>
    </mat-tab>
    <mat-tab label="Soulbinds">
        <mat-list role="list">
            @for (item of data?.soulbinds; track $index) {
                <mat-list-item role="listitem"><a mat-button [routerLink]="'../../soulbinds/'+item.id">{{item.name}}</a></mat-list-item>
            }
        </mat-list>
    </mat-tab>
    <mat-tab label="Renown Rewards">
        <table mat-table [dataSource]="data?.renown_rewards!" class="mat-elevation-z8">
            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level </th>
                <td mat-cell *matCellDef="let item"> {{item.level}} </td>
            </ng-container>  
            <ng-container matColumnDef="ability">
                <th mat-header-cell *matHeaderCellDef> Ability </th>
                <td mat-cell *matCellDef="let item"> {{item.reward.name}} </td>
            </ng-container>  
            <tr mat-header-row *matHeaderRowDef="['level', 'ability']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['level', 'ability'];"></tr>   
        </table>
    </mat-tab>
    <mat-tab label="Media">
        <app-media-table [dataSource]="data?.mediadata!"/>
    </mat-tab>
</mat-tab-group>