<mat-tab-group>
    <mat-tab label="Overview">
        <app-key-value-table [dataSource]="overviewData"></app-key-value-table>
    </mat-tab>
    <mat-tab label="Signature Ability">  
        <p>{{data?.signature_ability?.spell_tooltip?.spell?.name}}</p>
        <p>{{data?.signature_ability?.spell_tooltip?.description}}</p>
    </mat-tab>
    <mat-tab label="Class Abilities"> 
        <mat-table [dataSource]="data?.class_abilities!" class="mat-elevation-z8">
            <ng-container matColumnDef="class">
                <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.playable_class.name}} </mat-cell>
            </ng-container>  
            <ng-container matColumnDef="ability">
                <mat-header-cell *matHeaderCellDef> Ability </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.spell_tooltip.spell.name}} </mat-cell>
            </ng-container>  
            <mat-header-row *matHeaderRowDef="['class', 'ability']; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['class', 'ability'];"></mat-row> 
        </mat-table>
    </mat-tab>
    <mat-tab label="Soulbinds">
        <mat-list role="list">
            @for (item of data?.soulbinds; track $index) {
                <mat-list-item role="listitem"><a mat-button [routerLink]="'../../soulbinds/'+item.id">{{item.name}}</a></mat-list-item>
            }
        </mat-list>
    </mat-tab>
    <mat-tab label="Renown Rewards">
        <mat-table [dataSource]="data?.renown_rewards!" class="mat-elevation-z8">
            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.level}} </mat-cell>
            </ng-container>  
            <ng-container matColumnDef="ability">
                <mat-header-cell *matHeaderCellDef> Ability </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.reward.name}} </mat-cell>
            </ng-container>  
            <mat-header-row *matHeaderRowDef="['level', 'ability']; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['level', 'ability'];"></mat-row>   
        </mat-table>
    </mat-tab>
    <mat-tab label="Media">
        <app-media-table [dataSource]="data?.$mediaData!"/>
    </mat-tab>
</mat-tab-group>