

<mat-card appearance="outlined" class="outerCard">
  <mat-card-header>
    <mat-card-title>
      {{name}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card appearance="outlined" class="innerCard">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  
  <mat-card-actions>
    @if(hasData()) 
    {
      @if(apiClient.isConnected())
      {
          <button mat-raised-button (click)="reload()" [disabled]="!dataObjectIsLive()">Reload</button>
      }
      @else 
      {
        <button mat-raised-button disabled>Connect to update data</button>
      }          
      <!--button mat-raised-button (click)="debug()"><mat-icon>bug_report</mat-icon>Debug</button-->
    }        
    @else 
    {
      <button mat-raised-button disabled>Browse to a node that has data</button>
    }
    <button mat-raised-button (click)="getAll()" [disabled]="!canGetAll">Get All</button>
    <span class="dataStatus">
    @if(dataObjectIsLive())
    {
      @if ( lastUpdate )
      {
        Last updated:<br>{{ lastUpdate.toLocaleDateString() }} {{ lastUpdate.toLocaleTimeString() }}
      }
      @else
      {
        Data not loaded
      }          
    } 
    @else {
      No data to load
    }
    </span>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>      
</mat-card>
