@if(data?.name()!='' && data !== undefined) {
<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{data?.name()}}</mat-card-title>
      <!---mat-card-subtitle>Battle.net API Browser</mat-card-subtitle--->
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
    <mat-card-actions>
      @if(apiCli?.isConnected())
      {
        @if(data?.hasData()) {
          <button mat-raised-button (click)="reload()">Reload</button>
        }
      }
      @else 
      {
        <p>Connect to update data</p>
      }
    </mat-card-actions>
</mat-card>
} @else {
}


<!--ng-template #dataobject let-subdata>
  <ul>
    @for(item of subdata | keyvalue; track item){
        <li>
          <b>{{item.key}}</b>:
          <ng-container
            [ngTemplateOutlet]="(typeof item.value =='object') ? dataobject : dataitem"
            [ngTemplateOutletContext]="{$implicit: item.value}">
          </ng-container>
        </li>
    }
  </ul>
</ng-template-->

<!--ng-template #dataitem let-subdata>
  {{subdata}}
</ng-template-->