

  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>
            @if (currentData()?._parent!.hasData())
            {
            <div class="breadcrumbs" role="navigation"><app-breadcrumb [location]="currentData()?._parent!"></app-breadcrumb></div>
            }
            {{currentData()?.getName()}}
          </mat-card-title>
        <!---mat-card-subtitle>Battle.net API Browser</mat-card-subtitle--->
      </mat-card-header>
      <mat-card-content>
        
        @if(currentData()?.hasData()) 
        {          
          <mat-card appearance="outlined" class="innerCard">
            <mat-card-content>
              <router-outlet></router-outlet>
            </mat-card-content>
          </mat-card>
        }

      </mat-card-content>
      <mat-card-actions>
        @if(currentData()?.hasData()) 
        {
          @if(apiCli?.isConnected())
          {
              <button mat-raised-button (click)="reload()">Reload</button>
          }
          @else 
          {
            <button mat-raised-button disabled>Connect to update data</button>
          }          
          <button mat-raised-button (click)="debug()"><mat-icon>bug_report</mat-icon>Debug</button>
        }        
        @else 
        {
          <button mat-raised-button disabled>Browse to a node that has data</button>
        }
      </mat-card-actions>
      <mat-card-footer>
        @if(currentDataDoc()?.hasData())
        {
          @if (currentDataDoc()?.isLoaded())
          {
            <p>Data last updated: {{ currentDataDoc()?.getLastUpdate() }}</p>
          }
          @else
          {
            <p>Data not loaded</p>
          }          
        } 
      </mat-card-footer>      
  </mat-card>
