mat-card {
    height: 100% !important;
    min-height: 100% !important;
    position: relative;
    overflow: hidden;
  }
  
mat-card-content {
  max-height: 100%;
  overflow: auto;
}

mat-card-footer {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 10pt;
}

mat-card.innerCard {
  mat-card-content {
    padding: 6px;
  }
}

div.breadcrumbs {
  margin-bottom: 8px;
}