<mat-card>
    <mat-card-header>
        <mat-card-title>Export Data</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button (click)="exportJSON()">
            <mat-icon>file_download</mat-icon>
            <span>Export as JSON</span>
        </button>
    </mat-card-actions>
</mat-card>
@if (is_dbData()) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>This will delete all data of this type ({{dataType()}})</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="clearItem()">
                <mat-icon>delete</mat-icon>
                <span>Clear this data type</span>
            </button>
        </mat-card-actions>
    </mat-card>
}
@if (canRebuildIndex()) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>Rebuild Index</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>This will rebuild the index for  ({{dataType()}}) from existing records</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="rebuildIndex()">
                <mat-icon>build</mat-icon>
                <span>Rebuild Index</span>
            </button>
        </mat-card-actions>
    </mat-card>
}


