@use "../../list-detail-host/detail-host.scss";


.tabGroupHost {
    display:flex;
    height:100%;
}

app-page-selector {
    flex:1;
    height:100%;
    overflow:hidden;
    &.inDialog {
        height:auto;
    }
}

.innerHost {
    display:flex;
    height:100%;
}

.selectorPage > * {
    margin: 4px;
}

app-key-value-table {
    display: block;
    margin: 4px;
    vertical-align: top;
    overflow:hidden;
    width:100%;
    max-width:400pt;
}

div.columnize {
    columns:auto;
    column-width:300pt;
    overflow:hidden;
    width:100%;
    app-key-value-table {
        break-inside: avoid;
    }
}
