<mat-tab-group>
    <mat-tab label="Overview">
        <app-key-value-table [dataSource]="overviewData"></app-key-value-table>
        <app-key-value-table [dataSource]="collectionSummary"></app-key-value-table>
    </mat-tab>
    <mat-tab label="Stats">
        <ng-template matTabContent>
            <app-key-value-table [dataSource]="statsData"></app-key-value-table> 
        </ng-template>        
    </mat-tab>                 
    <mat-tab label="Professions">
        <ng-template matTabContent>
            <app-key-value-table [dataSource]="professionSummary"></app-key-value-table>
        </ng-template>        
    </mat-tab>
    <mat-tab label="Achievements">
        <ng-template matTabContent>
            <table mat-table class="achievements" [dataSource]="achievementData" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Achievement </th>
                    <td mat-cell *matCellDef="let item"> {{item.achievement.name}} </td>
                </ng-container>
                <ng-container matColumnDef="completed">
                    <th mat-header-cell *matHeaderCellDef> Completed </th>
                    <td mat-cell *matCellDef="let item"> 
                            {{item.completed_timestamp ? (item.completed_timestamp | date: 'yyyy-MM-dd HH:mm') : ''}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name', 'completed']; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['name','completed'];"></tr>
            </table>
        </ng-template>
    </mat-tab> 
    <mat-tab label="Statistics">
        <ng-template matTabContent>
            <div class="innerHost">
                <app-page-selector [pages]="statisticsData" selector="name">
                    <ng-template let-item>
                        <div class="selectorPage">
                        <ng-container
                        [ngTemplateOutlet]="statisticsExpander"
                        [ngTemplateOutletContext]="{data: item}"
                        />
                        </div>
                    </ng-template>
                    <ng-template #statisticsExpander let-item="data">
                        <app-key-value-table [dataSource]="getStatistics(item)"></app-key-value-table>
                        @for (subcat of item.sub_categories; track subcat.id) {
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> {{subcat.name}} </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-container
                                [ngTemplateOutlet]="statisticsExpander"
                                [ngTemplateOutletContext]="{data: subcat}"
                            />
                        </mat-expansion-panel>}
                    </ng-template>
                </app-page-selector>
            </div>
        </ng-template>
    </mat-tab> 
    <mat-tab label="Appearances">
    </mat-tab>
    <mat-tab label="Dungeons">
    </mat-tab>            
    <mat-tab label="Raids">
    </mat-tab>                
    <mat-tab label="Mythic Keystones">
    </mat-tab>              
    <mat-tab label="PvP">
    </mat-tab>      
    <mat-tab label="Quests">
    </mat-tab>                                                   
</mat-tab-group>