<mat-tab-group>
    <mat-tab label="Overview">
        <app-key-value-table [dataSource]="overviewData"></app-key-value-table>
    </mat-tab>
    <mat-tab label="Statistics">
    </mat-tab>         
    <mat-tab label="Specializations">
    </mat-tab>         
    <mat-tab label="Achievements">
    </mat-tab>
    <mat-tab label="Appearances">
    </mat-tab>
    <mat-tab label="Collections">
        <mat-tab-group>
            <mat-tab label="Heirlooms">
            </mat-tab> 
            <mat-tab label="Mounts">
            </mat-tab> 
            <mat-tab label="Pets">
            </mat-tab> 
            <mat-tab label="Toys">
            </mat-tab> 
            <mat-tab label="Transmogs">
            </mat-tab>                                                  
        </mat-tab-group>
    </mat-tab> 
    <mat-tab label="Encounters">
        <mat-tab-group>
            <mat-tab label="Dungeons">
            </mat-tab> 
            <mat-tab label="Raids">
            </mat-tab>                                               
        </mat-tab-group>
    </mat-tab>            
    <mat-tab label="Equipment">
    </mat-tab>  
    <mat-tab label="Hunter Pets">
    </mat-tab>       
    <mat-tab label="Mythic Keystones">
    </mat-tab>        
    <mat-tab label="Professions">
    </mat-tab>       
    <mat-tab label="PvP">
    </mat-tab>      
    <mat-tab label="Quests">
    </mat-tab>   
    <mat-tab label="Reputation">
    </mat-tab>   
    <mat-tab label="Soulbinds">
    </mat-tab>   
    <mat-tab label="Titles">
    </mat-tab>                                                    
</mat-tab-group>