@use '../../../lib/classcolors';
@use 'sass:map';
@use '@angular/material' as mat;

table  {
    position:absolute;
}

td.mat-column-name {
    font-weight: bold;
}

@each $class, $color in classcolors.$classes {
    .#{$class}
    {
        color: $color;
    }
}

.character-button {
@include mat.button-overrides((
    filled-container-color: #333333,
    filled-label-text-size: 120%,
 ));
 width:100%
}