table {
    width: auto;
    min-width: auto;
}

td.mat-column-key {
    font-weight: bold;
    width: auto;
}

td.mat-column-value {
    width: auto;
}


td.cdk-column-value {
    div.cellContent {
        display:flex;
        flex-direction: row;
        span.cellText {
            display: block;
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        span.spacer {
            flex: 1 1 auto;
        }
    }
}