<table mat-table [dataSource]="dataSource()">
    <!-- Key Column -->
    <ng-container matColumnDef="key">
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>
    <!-- Value Column -->
    <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <!-- Button Column -->
    <ng-container matColumnDef="button">
        <td mat-cell *matCellDef="let element"> 
            @if (element.button)
            {
                <button mat-button>{{element.button.name}}</button> 
            }
        </td>
    </ng-container>    
    <tr mat-row *matRowDef="let row; columns: ['key','value', 'button'];"></tr>  
</table>
