<h2>Settings</h2>

<div class="fields">
<mat-form-field class="full-width">
    <mat-label>Client ID</mat-label>
    <input matInput type="text" title="Client ID" [(ngModel)]="clientId" />
</mat-form-field>
<mat-form-field class="full-width">
    <mat-label>Client Secret</mat-label>
    <input matInput type="text" title="Client Secret" [(ngModel)]="clientSecret" />
</mat-form-field>
</div>
<button mat-raised-button (click)="reset()">Reset</button>
<button mat-raised-button (click)="save()">Save</button>
<p></p>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Help </mat-panel-title>
            <mat-panel-description> How to obtain a client ID and secret </mat-panel-description>
        </mat-expansion-panel-header>
        <p>You will need to obtain your own client ID and secret from <a href="https://develop.battle.net/access/" rel="noopener noreferrer" target="_blank">https://develop.battle.net/access/</a></p>
        <p>Make up your own client name</p>
        <p>Set redirect URL to https://localhost:4200</p>
        <p>There is no service URL - check "I do not have a service URL for this client"</p>
        <p>Specify your own intended use</p>
    </mat-expansion-panel>
  </mat-accordion>
  

